body{
    font-family: garamond;
}

header{
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
}

main{
    width: 80%;
    height: 600px;
}

aside{
    background-color: coral;
    width: 20%;
    height: 680px;
}

footer{
    background-color: tomato;
    color: white;
    text-align: center;
}

img{
    border-radius: 50%;
    padding: 10px;
    
}

button{
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font-weight: bold;
}

.chat{
    border: solid 1px tomato;
    margin: 15px;
    height: auto;
    /* position: sticky; */
    border-radius: 10%;
    
}

.chat1{
    border: solid 1px tomato;
    margin: 15px;
    height: auto;
    /* position: sticky; */
    border-radius: 10%;
    
}

#jolka1{
    background-color: #eee;
    text-align: left;
}

#krzys1{
    background-color: #ccc;
    text-align: right;

}

#send{

}

#imgj{
    float: left;
}

#imgk{
    /* float: right; */
}

#wiadk{
    float: left;
    width: 90%;
}

#wiadj{
    width: 200px;
    float: left;
}

.mainborder{

}
